<component name="ArtifactManager">
  <artifact type="exploded-war" name="springcloud-provider-8082:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springcloud_provider_8082_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springcloud-provider-8082/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springcloud-provider-8082" />
        </element>
      </element>
    </root>
  </artifact>
</component>